
#main-nav{
    background-image: url("images/pexels-francesco-ungaro-998641\ \(1\).jpg") !important;
    padding-bottom: 20px;
}
.car-main{

  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 10em;
 
}
.date-picofday{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card-div{
    display: flex;
    justify-content: center;
}
.card-title{
    display: flex;
    justify-content: center;
}
.flex-container{
    display: flex;
    flex-direction: row;
        
    justify-content: center;
}
.title-marsweather{
    display: flex;
    justify-content: center;
}
.contents-weather{
    display: flex;
    flex-direction: row;
    gap: 25rem;
}
.first-line{
    flex: 2;
}
.first-line2{
    flex:1;
}
.wind{
    display: flex;
    flex-direction: row;
    gap: 25rem;
}
